* {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
    margin: none;
    padding: none;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 25em;;
}

.box {
    padding-top: 1em;
}

.token-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
}
.token-form {
    display: flex;
    flex-direction: row;
}
.token-form > input {
    flex-grow: 1;
    width: 100%;
    margin-right: 0.25em;
}

.text-red {
    color: red;
}

.candidates {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    gap: 0.5em;
}
.candidates > li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    background: #eeeeee;
}

button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(33, 33, 33);
}